
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Account</th>
      <th>Invoice#</th>
      <th>Items</th>
    </tr>
  </thead>

  <tbody>
        <% invoices.each do |invoice| %>
            <tr>
                <td><%= invoice.date %></td>
                <td><%= invoice.account.name %></td>
                <td><%= invoice.number %></td>
                <td>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Qty</th>
                                <th>Cost Price</th>
                                <th>Sell Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% invoice.invoice_items.each do |item| %>
                                <tr>
                                    <td><%= item.stock.name %></td>
                                    <td><%= item.qty %></td>
                                    <td><%= item.cost_price %></td>
                                    <td><%= item.sell_price %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </td>
            </tr>
        <% end %>
  </tbody>
</table>

