<%= form_for(@user) do |f| %>
    <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>

    <div class="field">
        <%= f.label :password %>
        <%= f.text_field :password %>
    </div>

    <div class="field">
        <%= f.label :can_manage %>
        <%= f.check_box :can_manage %>
    </div>
    <div class="field">
        <%= f.label :can_sell %>
        <%= f.check_box :can_sell %>
    </div>
    <div class="field">
        <%= f.label :can_report %>
        <%= f.check_box :can_report %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
    
<% end %>
