
<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br />
    <%= f.select :account_id, options_from_collection_for_select(Account.find_all_by_account_type_id(AccountType.find_by_name("supplier").id), "id","name") %>
  </div>

  <div class="field">
    <%= f.label :invoice_number %><br>
    <%= f.text_field :invoice_number %>
  </div>
  <div class="field">
    <%= f.label :invoice_date %><br>
    <%= f.date_select :invoice_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
