<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Catagory</th>
        <th>Qty</th>
        <th>Cost Price</th>
        <th>Sell Price</th>
        <th>Min Stock</th>
    </tr>
    <% @catagories.each do |catagory| %>
        <% catagory.stocks.each do |stock| %>
            <tr>
                <td><%= stock.name %></td>
                <td><%= stock.catagory.name %></td>
                <% if stock.qty <= stock.min_stock %>
                    <td class="warning"><%= stock.qty %></td>
                <% else %>
                    <td><%= stock.qty %></td>
                <% end %>
                <td><%= stock.cost_price %></td>
                <td><%= stock.sell_price %></td>
                <td><%= stock.min_stock %></td>
            </tr>
        <% end %>
    <% end %>
</table>
