<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :catagory_id %><br>
    <%= f.select :catagory_id, options_from_collection_for_select(Catagory.all, "id","name") %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :cost_price %><br>
    <%= f.text_field :cost_price %>
  </div>
  <div class="field">
    <%= f.label :sell_price %><br>
    <%= f.text_field :sell_price %>
  </div>
  <div class="field">
    <%= f.label :min_stock %><br>
    <%= f.number_field :min_stock %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
