<%= link_to "<", :date => @date.yesterday.to_s %>
<%= @date.strftime("%d %B %Y") %>
<%= link_to ">", :date => @date.tomorrow.to_s %>

<h4>Sales</h4>

<%= render partial: "sales/list", locals: {sales: @sales, refund:false } %>

<h4>Refunds</h4>

<%= render partial: "sales/refunds", locals: {refunds: @refunds } %>

<h4>Invoices</h4>

<%= render partial: "invoices/list", locals: {invoices: @invoices } %>

<h4>Bills</h4>

<%= render partial: "bills/list", locals: {bills: @bills } %>

<h4>Account Transfers</h4>

<%= render partial: "accounts/account_transfer_list", locals: {account_transfers: @account_transfers } %>

