<ul>
    <li><%= link_to "Daily report", daily_report_path %></li>
    <li><%= link_to "Stock report", stock_report_path %></li>
    <li><%= link_to "Stock take cards", stock_take_cards_path %></li>
    <li><%= link_to "Low stock", low_stock_report_path %></li>
    <li><%= link_to "Profit and Loss report", profit_and_loss_report_path %></li>
</ul>
