<%= render "reports/datepicker_js" %>
<h4>Sale report for date period <%= @dates[0] %> to <%= @dates[1] %></h4>

<%= form_tag range_sales_report_path, :method => "GET" do %>
    <%=  text_field_tag :start_date, @dates[0].strftime("%Y-%m-%d") %>
    <%=  text_field_tag :end_date, @dates[1].strftime("%Y-%m-%d") %><br>
    <%= submit_tag "submit" %>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Item</th>
      <th>Catagry</th>
      <th>Old Qty</th>
      <th>New Qty</th>
      <th>Reason</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @change_stock_qty.each do |cs| %>
        <tr>
            <td><%= cs.date.to_s %></td>
            <td><%= cs.stock.name %></td>
            <td><%= cs.stock.catagory.name %></td>
            <td><%= cs.old_qty %></td>
            <td><%= cs.qty %></td>
            <td><%= cs.reason %></td>
            <td><%= cs.user.email %></td>
        </tr>
    <% end %>
  </tbody>
</table>
